.fatherScreen{
position: relative;


}

.startScreen{
position: absolute;
background-image: url('pictures/startscreen.jpg');
background-size: cover;
width: 501px;
height: 201px;
object-fit: contain;
}

.selectCharacter{
    position: absolute;
    background-image: url('pictures/test.jpg');
    background-size: cover;
    width: 501px;
    height: 201px;
    object-fit: contain;
}